.top-coin {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $avg-rem;
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $large-rem;
  background-color: $avg-black;
  padding: $big-rem;
  border-radius: $avg-rem;
  overflow: hidden;
}

.price-info {
  @include large-header-styles;
  display: flex;
  justify-content: center;
}

.change-diff {
  @include small-text-styles;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up-btn,
.down-btn {
  display: flex;
  gap: $small-rem;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  width: 100%;
  padding: $avg-rem;
  border-radius: $big-rem;
  font-weight: 600;
  transition: $fast-tran;
  overflow: hidden;
}

.up-btn {
  background-color: $nice-green;

  &:hover{
    background-color: #48ff7f;;
  }
}

.down-btn {
  background-color: $nice-red;

  &:hover{
    background-color: #ff7878;
  }
}

.double-window {
  position: relative;
  display: flex;
  gap: $avg-rem;
  width: 100%;
}

.double-window::-webkit-scrollbar {
  height: 6px;
}
.double-window::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.7);
  border-radius: 5px;
}

.mini-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $big-rem;
  justify-content: space-between;
  width: 100%;
  min-width: 70px;
  background-color: $avg-black;
  padding: $big-rem;
  border-radius: $avg-rem;
  overflow: hidden;
}

.select-section {
  display: flex;
  gap: $avg-rem;
  width: 100%;
}

.bet-setup-input {
  position: relative;
  width: 100%;
  .time-icon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
  }
  .toll-icon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
  }
}

.active-bet {
  position: fixed;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $medium-black;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  padding: $avg-rem;
  border-radius: $avg-rem;
  transition: 0.2s ease;
  z-index: 500;
}
.active-status-bet {
  bottom: 70px;
}

.bonus-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $large-rem;
  padding: 2rem 2rem;
  border-radius: $avg-rem;
  background-color: #333;
}

.bet-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
  z-index: 100;
}

@media (min-width: 876px) {
  .user-preview {
    display: none;
  }
  .double-window {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
  }
  .mini-window {
    min-width: 0;
  }
  .active-bet {
    position: fixed;
    bottom: -70px;
    right: 20px;
    transform: translateX(95%);
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $medium-black;
    padding: $avg-rem;
    border-radius: $avg-rem;
    z-index: 500;
  }
  .active-status-bet {
    bottom: 20px;
  }
}
