.top-coin {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background-color: #111;
  padding: 1.0rem;
  border-radius: 0.5rem;
}

.price-info {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  font-size: 28px;
}

.change-diff {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  font-size: 14px;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.up-btn,
.down-btn {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  font-weight: 600;
  transition: 0.1s ease;
  overflow: hidden;
}

.up-btn {
  background-color: #0cff41;
}
.up-btn:hover {
  background-color: #48ff7f;
}

.down-btn {
  background-color: #ff5e5e;
}
.down-btn:hover {
  background-color: #ff7878;
}

.double-window {
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  overflow-x: auto;
}

.double-window::-webkit-scrollbar {
  height: 6px;
}
.double-window::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.7);
  border-radius: 5px;
}

.mini-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  min-width: 190px;
  background-color: #111;
  padding: 1.0rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #ddd;
}

.select-section {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.current-bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////////
.active-bet {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 500;
}

.bonus-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  background-color: #333;
}

@media (min-width: 876px) {
  .user-preview {
    display: none;
  }
  .double-window {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
  }
  .mini-window {
    min-width: 0;
  }
  .active-bet {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateX(95%);
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 500;
  }
}
