@import '../../scss/config';

.rankings {
  @include container-styles;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
}

.rank-item {
  @include list-item-styles;
  justify-content: space-between;
  background-color: #111;
  padding: 0.75rem;
}

@media (min-width: 876px) {
  .rankings {
    background-color: #090909;
  }
}
