@import '../../scss/config';

.dashboard {
  @include container-styles;
  position: relative;
  padding: 1rem;
  gap: 0.5rem;
  overflow-x: hidden;
}

@media (min-width: 876px) {
  .dashboard {
    background-color: #090909;
  }
}
