@import '../../scss/config';

.dashboard {
  @include container-styles;
  padding: 1.5rem;
  gap: 2rem;
  align-items: center;
}

.top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
