.news-slide-item-loading {
  width: 100%;
  background: #222;
  border-radius: $avg-rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .card__image {
    background: linear-gradient(95deg, #222 8%, #292929 18%, #222 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 200px;
    border-radius: $avg-rem;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.news-slide {
  display: none;
  transition: 0.3s ease;
}

.news-slide-image-block {
  position: relative;
  overflow: hidden;
  border-radius: $avg-rem;

  .news-slide-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #00000000, #000000cc);
  }
  .news-slide-text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    text-align: center;
  }
}

@media (min-width: 876px) {
  .news-slide {
    display: flex;
    flex-direction: column;
    gap: $avg-rem;
  }
}
