// @keyframes timer {
//   0% { --timer: 20; }
//   5% { --timer: 19; }
//   10% { --timer: 18; }
//   15% { --timer: 17; }
//   20% { --timer: 16; }
//   25% { --timer: 15; }
//   30% { --timer: 14; }
//   35% { --timer: 13; }
//   40% { --timer: 12; }
//   45% { --timer: 11; }
//   50% { --timer: 10; }
//   55% { --timer: 9; }
//   60% { --timer: 8; }
//   65% { --timer: 7; }
//   70% { --timer: 6; }
//   75% { --timer: 5; }
//   80% { --timer: 4; }
//   85% { --timer: 3; }
//   90% { --timer: 2; }
//   95% { --timer: 1; }
//   100% { --timer: 0; }
// }

.timer-container {
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 1rem;
}

@keyframes timer4sec {
  0% { --timer: 4; }
  25% { --timer: 3; }
  50% { --timer: 2; }
  75% { --timer: 1; }
  100% { --timer: 0; }
}

#timer {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  animation: timer4sec 4s linear;
  mix-blend-mode: difference;
  width: 200px;
  color: white;
  background: #333;
}

@keyframes timeline {
  0% { width: 100%; background: green; }
  50% { width: 50%; brackground: orange; }
  100% { width: 0%; background: red; }
}

@keyframes timelineGreen {
  0% { width: 100%; background: green; }
  50% { width: 50%; brackground: green; }
  100% { width: 0%; background: green; }
}

#timer::before {
  content:"";
  width: 100%;
  background: lightgreen;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: timelineGreen 4s linear;
  animation-fill-mode: forwards;
}

#timer::after {
  counter-reset: timer var(--timer);
  // content: counter(timer);
  font-weight: bold;
}
