.modern-balance {
  position: relative;
  border-radius: $avg-rem;
}

.two-diff-texts {
  display: flex;
  align-items: flex-end;
}

.text-style-one {
  color: #fff;
  font-weight: 500;
  font-size: 35px;
}
