.news {
  @include container-styles;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  overflow-y: auto;
  width: 100%;
}

.news-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.blog-item {
  @include items-column;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s ease;
}

.blog-item:hover {
  background-color: #333;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9rem;
  padding-bottom: 5rem;
}

.pagination-btn {
  @include sq-btn;
  width: 32px;
  height: 32px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #ddd;
}

@media (min-width: 876px) {
  .pagination {
    padding-bottom: 1rem;
  }
}

@media (min-width: 1100px) {
  .news-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-item {
    width: 100%;
  }
}
