.news {
  @include container-styles;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
}

.blog-item {
  @include items-column;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s ease;
}

.blog-item:hover {
  background-color: #333;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9rem;
  padding-bottom: 5rem;
}

.pagination-btn {
  @include sq-btn;
  width: 32px;
  height: 32px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #ddd;
}
