.header-panel-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modern-input-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $big-rem;
  width: 100%;
}

.explore-results {
  position: absolute;
  top: 142%;
  display: flex;
  flex-direction: column;
  gap: $big-rem;
  border-radius: $avg-rem;
  padding: $avg-rem;
  background-color: #202020;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.modern-input-section {
  position: relative;
  display: flex;

  .clear-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e8e8e;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
  }
  .clear-icon:hover {
    color: #aeaeae;
  }
}
