@import '../../scss/config';

.profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $big-rem;
  width: 100%;
  padding: $large-rem;
}

.active-bonus-btn,
.waiting-bonus-btn {
  position: relative;
  display: flex;
  gap: $small-rem;
  padding: $small-rem;
  border-radius: $avg-rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: $light-black;
  color: #0cff41;
  font-size: 12px;
  transition: 0.1s ease;
  animation: pulse 3s infinite alternate;
}

.waiting-bonus-btn {
  color: $light-gray;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 12px rgba(255, 165, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 8px rgba(255, 165, 0, 0.2);
  }
}

.gift-icon {
  animation: shake 1.9s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.balance-section {
  @include list-column-styles;
  background-color: #121212;
  padding: $big-rem;
  border-radius: $big-rem;
  align-items: center;
}

.balance-amount {
  display: flex;
  align-items: center;
  gap: $avg-rem;
}

.stats-info {
  display: flex;
  gap: $avg-rem;
  width: 100%;
}

.stat {
  @include stat-styles;
}

.stat-value {
  color: #f0de69;
  font-weight: 500;
}
