.profile-full-screen {
  @include column-center-item;
  position: absolute;
  background-color: #222;
  padding: $small-rem;
  border-radius: $avg-rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10002;

  .content {
    @include column-center-item;
    position: relative;
    .close-icon {
      @include column-center-item;
      position: absolute;
      top: -32px;
      right: -32px;
      padding: $small-rem;
      background-color: #222;
      border-radius: 50%;
      opacity: 0.5;
      transition: 0.1s ease;
      &:hover {
        opacity: 0.99;
      }
    }
  }
}

.stats2 {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
  gap: $small-rem;
  border-radius: $avg-rem;
  border: 1px solid #444;
  width: 100%;
  overflow: hidden;
  .line {
    width: 1px;
    height: 68px;
    background-color: #444;
  }
}

.stats2-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
