.profile-info {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: $big-rem;
  padding: $large-rem;
  background-color: $medium-black;
  border-top-left-radius: $large-rem;
  border-top-right-radius: $large-rem;
  .list-column {
    max-height: 41vh;
    overflow-y: auto;
  }
}

.full-btn {
  @include stat-styles;
  border: 1px solid $light-black;
}

.full-btn.active {
  border: 1px solid $nice-orange;
}

.history-bet-column {
  @include list-column-styles;
  margin-bottom: 5rem;
}

.history-bet-item {
  @include list-item-styles;
  justify-content: space-between;
  padding: $avg-rem;
  background-color: $avg-black;
}
