.slider {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  transition: transform 0.3s ease;
}

.turn-left,
.turn-right {
  color: #ddd;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.6;
  transition: 0.1s ease;
  z-index: 999;
}

.turn-left:hover,
.turn-left:focus,
.turn-right:hover,
.turn-right:focus {
  opacity: 1;
}

.turn-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
}

.turn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
}
