.mini-window-loading {
  width: 100%;
  background: #222;
  border-radius: $avg-rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .card__image {
    background: linear-gradient(95deg, #222 8%, #292929 18%, #222 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 7.6rem;
    border-radius: $avg-rem;
  }
}

.percentage-progress {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.error-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: $small-rem;
  z-index: 2;
}

.error-bg-block {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.2;
}

.error-bg-img {
  width: 100%;
  height: auto;
}
