.profile-panel {
  padding: $big-rem;
  display: flex;
  flex-direction: column;
  gap: $big-rem;
  background-color: $deep-black;
  transition: $mid-tran;
  .fixed-overlay {
    opacity: 0;
    transform: scale(0);
    transition: 0.2s ease;
  }
  .fixed-overlay.active-status-bet {
    opacity: 1;
    transform: scale(1);
  }
}

.panel-info {
  width: 100%;
  display: flex;
}

.panel-main {
  position: relative;
  border-radius: $large-rem;
  border: 2px solid #3d3d3dcc;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  transition: $mid-tran;
}

.panel-darken {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, #000000dd, rgba(0, 0, 0, 0));
}

.panel-username {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: $avg-rem;
  align-items: center;
}

.panel-rank {
  position: relative;
  border-radius: $large-rem;
  border: 2px solid #3d3d3dcc;
  display: flex;
  flex-direction: column;
  gap: $avg-rem;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  transition: $mid-tran;
  overflow: hidden;
}

.panel-sq-img {
  border-radius: $big-rem;
  min-width: 200px;
  max-width: 200px;
  transition: $mid-tran;
}

.panel-ring {
  width: 140px;
  height: 140px;
  background-color: transparent;
  border: 3px solid rgba(255, 166, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-main-loading {
  width: 100%;
  background: #222;
  border-radius: $avg-rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .card__image {
    background: linear-gradient(95deg, #111 8%, #191919 18%, #111 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 100vh;
    border-radius: $avg-rem;
  }
}

.test-active-bet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $medium-black;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  gap: 0.5rem;
  padding: $avg-rem;
  border-radius: $avg-rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.2s ease;
  z-index: 500;
}

.test-active-bet.active-status-bet {
  transform: translateY(0%);
  opacity: 1;
}

.result-bet-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 33%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $medium-black;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  gap: 0.5rem;
  padding: 2rem 2rem;
  border-radius: $avg-rem;
  opacity: 0;
  transition: 0.2s ease;
  z-index: 500;
  .timer-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 1rem;
    background-color: $dark-gray;
    animation: timer-modal 4s linear forwards;
  }
  .emoji-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}

@keyframes timer-modal {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.result-bet-modal.active-status-bet {
  opacity: 1;
}

@media (max-width: 875px) {
  .profile-panel {
    display: none;
  }
}

@media (min-width: 1400px) {
  .panel-main {
    min-width: 260px;
    max-width: 260px;
    max-height: 260px;
  }
  .panel-rank {
    min-width: 260px;
    max-width: 200px;
    max-height: 260px;
  }
  .panel-sq-img {
    min-width: 260px;
    max-width: 260px;
  }
  .panel-ring {
    width: 200px;
    height: 200px;
  }
}
