.top-players-slider {
  display: flex;
  gap: $large-rem;
}

.chart-item {
  @include column-center-item;
}

.visual-info {
  position: relative;
  width: 80px;
  height: 80px;
}

.position-item {
  @include column-center-item;
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 28px;
  height: 28px;
  background-color: yellow;
  border-radius: 50%;
  border: 2px solid $ulrta-black;
}