@import './scss/config';
@import './pages/signUp/signUp.scss';
@import './pages/login/login.scss';
@import './pages/dashboard/dashboard.scss';
@import './pages/profile/profile.scss';
@import './components/sideBar/sideBar.scss';
@import './components/topCoin/topCoin.scss';
@import './components/profileTop/profileTop.scss';
@import './components/topButtons/topButtons.scss';
@import './components/profileInfo/profileInfo.scss';
@import './pages/rankings/rankings.scss';
@import './components/timers/classicTimer.scss';
@import './components/coinsRow/coinsRow.scss';
@import './components/newsSection/newsSection.scss';
@import './pages/news/news.scss';

$primary-color: #572b06;
$secondary-color: #442200;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

body {
  background: linear-gradient(to bottom, #232323, #232323);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  object-fit: cover;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none
}

.container {
  @include container-styles;
  padding: 1.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, $primary-color, $secondary-color);
}

.header-text {
  color: #fff;
  letter-spacing: 1px;
}

.large-header {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
}

.medium-header {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.small-header {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.small-text {
  color: #ddd;
  font-size: 13px;
  font-weight: 500;
}

.medium-text {
  color: #ddd;
  font-size: 16px;
  font-weight: 500;
}

.tiny-color-text {
  color: orange;
  font-size: 11px;
  font-weight: 500;
}

.small-color-text {
  color: orange;
  font-size: 13px;
  font-weight: 500;
}

.link-text {
  color: rgb(255, 190, 70);
  font-size: 16px;
  text-decoration: none;
}
.link-text:hover,
.link-text:focus {
  text-decoration: underline;
}

.large-sq-img {
  border-radius: 0.5rem;
  width: 80px;
  height: 80px;
}

.medium-sq-img {
  border-radius: 0.5rem;
  width: 48px;
  height: 48px;
}

.small-sq-img {
  border-radius: 0.5rem;
  width: 24px;
  height: 24px;
}

.small-circle-img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.medium-circle-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.large-circle-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.classic-button {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 18px;
  background-color: #9f6409;
  color: #fff;
  width: 100%;
  text-decoration: none;
  transition: 0.1s ease;

  &:hover,
  &:focus {
    background-color: #c27a0f;
  }
}

.small-circle-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #fff;
  transition: 0.1s ease;
}

.sq-btn {
  @include sq-btn;
  background-color: rgba(10, 10, 10, 0.5);
  color: #ddd;
}

.sq-btn:hover,
.sq-btn:focus {
  background-color: rgba(10, 10, 10, 0.8);
}

.sq-btn-mod {
  @include sq-btn;
  background-color: #333;
  color: orange;
}

.sq-btn-mod:hover,
.sq-btn-mod:focus {
  background-color: #444444;
}

.sq-red-btn {
  @include sq-btn;
  background-color: rgba(255, 94, 94, 0.50);
}

.sq-green-btn {
  @include sq-btn;
  background-color: rgb(12, 255, 65, 0.5);
}

.small-circle-button:hover,
.small-circle-button:focus {
  background-color: rgba(10, 10, 10, 1);
}

.transparent-btn {
  background-color: transparent;
  color: orange;
  font-weight: 600;
  transition: 0.1s ease;
}

.transparent-btn:hover {
  color: rgb(255, 196, 85);
}

.classic-input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #555;
  color: #fff;
  font-size: 14px;
}

.short-input {
  border-radius: 0.5rem;
  border: 2px solid #444;
  padding: 0.5rem;
  background-color: rgb(30, 30, 30, 0.5);
  color: #fff;
  font-weight: 500;
  width: 100%;
}

.illustration-img {
  max-width: 550px;
  max-height: 550px;
  width: 100%;
}

.medium-album-image {
  height: 200px;
  border-radius: 0.5rem;
}

.active-icon {
  color: orange;
}

.list-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.list-item {
  @include list-item-styles;
  padding: 0.5rem;
  background-color: #111;
}

.text-items-column {
  @include items-column;
}

.flex-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.green {
  color: #0cff41;
}

.red {
  color: #ff5e5e;
}

.line {
  height: 2px;
  border-radius: 3px;
  width: 100%;
  background-color: #555;
}
