@import './scss/config';
@import './pages/signUp/signUp.scss';
@import './pages/login/login.scss';
@import './pages/dashboard/dashboard.scss';
@import './pages/profile/profile.scss';
@import './components/sideBar/sideBar.scss';
@import './components/topCoin/topCoin.scss';
@import './components/profileTop/profileTop.scss';
@import './components/topButtons/topButtons.scss';
@import './components/profileInfo/profileInfo.scss';

$primary-color: #572b06;
$secondary-color: #442200;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  @include container-styles;
  padding: 1.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, $primary-color, $secondary-color);
}

.header-text {
  color: #fff;
  letter-spacing: 1px;
}

.large-header {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
}

.medium-header {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.small-header {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.medium-text {
  color: #ddd;
  font-size: 16px;
}

.small-text {
  color: #ddd;
  font-size: 13px;
}

.medium-sq-img {
  border-radius: 0.5rem;
  width: 48px;
  height: 48px;
}

.small-sq-img {
  border-radius: 0.5rem;
  width: 24px;
  height: 24px;
}

.small-circle-img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.medium-circle-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.large-circle-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.classic-button {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 18px;
  background-color: #9f6409;
  color: #fff;
  width: 100%;
  text-decoration: none;
  transition: 0.1s ease;

  &:hover,
  &:focus {
    background-color: #c27a0f;
  }
}

.small-circle-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #fff;
  transition: 0.1s ease;
}

.sq-btn {
  border-radius: 0.5rem;
  padding: 0.3rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.5);
  color: #ddd;
  transition: 0.1s ease;
}

.sq-btn:hover,
.sq-btn:focus {
  background-color: rgba(10, 10, 10, 0.8);
}

.small-circle-button:hover,
.small-circle-button:focus {
  background-color: rgba(10, 10, 10, 1);
}

.classic-input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #555;
  color: #fff;
  font-size: 14px;
}

.illustration-img {
  max-width: 550px;
  max-height: 550px;
  width: 100%;
}

.active-icon {
  color: orange;
}

.list-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: #222;
  padding: 0.5rem;
}
