@import './scss/config';
@import './pages/signUp/signUp.scss';
@import './pages/login/login.scss';
@import './pages/dashboard/dashboard.scss';
@import './pages/profile/profile.scss';
@import './components/sideBar/sideBar.scss';
@import './components/topCoin/topCoin.scss';
@import './components/profileTop/profileTop.scss';
@import './components/topButtons/topButtons.scss';
@import './components/profileInfo/profileInfo.scss';
@import './pages/rankings/rankings.scss';
@import './components/coinsRow/coinsRow.scss';
@import './components/newsSection/newsSection.scss';
@import './pages/news/news.scss';
@import './components/profilePanel/profilePanel.scss';
@import './components/headerPanel/headerPanel.scss';
@import './components/modernBalance/modernBalance.scss';
@import './components/topPlayersSlider/topPlayersSlider.scss';
@import './components/newsSlide/newsSlide.scss';
@import './components/userPreview/userPreview.scss';
@import './scss/buttons.scss';
@import './scss/images.scss';
@import './scss/texts.scss';
@import './scss/inputs.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.5px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 8px;
}

body {
  background: linear-gradient(to bottom, #171716, #171716);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimizeQuality;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none
}

input:focus {
  outline: none;
}

.screen-container {
  display: flex;
  gap: 0rem
}

.container {
  @include container-styles;
  padding: 1.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, #171716, #171716);
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.list-column {
  @include list-column-styles;
}

.list-item {
  @include list-item-styles;
  padding: 0.5rem;
  background-color: #111;
}

.text-items-column {
  @include items-column;
}

.flex-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.green {
  color: #0cff41;
}

.red {
  color: #ff5e5e;
}

.line {
  height: 2px;
  border-radius: 3px;
  width: 100%;
  background-color: #555;
}

.top-section,
.header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 876px) {
  body {
    background: linear-gradient(to bottom, #050505, #050505);
  }
  .top-section {
    display: none;
  }
}
