$nice-green: #0cff41;
$nice-red: #ff5e5e;
$nice-orange: orange;
$deep-black: #090909;
$ulrta-black: #050505;
$avg-black: #111;
$medium-black: #171717;
$light-black: #222;
$ultra-light-black: #282828;
$light-gray: #ddd;
$small-rem: 0.2rem;
$avg-rem: 0.5rem;
$big-rem: 1.0rem;
$large-rem: 1.5rem;

$fast-tran: 0.1s ease;
$mid-tran: 0.3s ease;

@mixin container-styles {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin stat-styles {
  display: flex;
  flex-direction: column;
  gap: $small-rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: $avg-rem;
  border-radius: $avg-rem;
  background-color: $light-black;
  color: #fff;
  overflow: hidden;
}

@mixin column-center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin list-item-styles {
  position: relative;
  display: flex;
  align-items: center;
  gap: $avg-rem;
  border-radius: $avg-rem;
}

@mixin list-column-styles {
  display: flex;
  flex-direction: column;
  gap: $avg-rem;
  width: 100%;
  transition: 0.3s ease;
}

@mixin sq-btn {
  border-radius: $avg-rem;
  padding: $small-rem;
  display: flex;
  gap: $small-rem;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;
}

@mixin items-column {
  display: flex;
  flex-direction: column;
  gap: $small-rem;
}

@mixin large-header-styles {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
}

@mixin small-text-styles {
  color: $light-gray;
  font-size: 13px;
  font-weight: 500;
}
