@mixin container-styles {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin stat-styles {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #222;
  color: #fff;
  overflow: hidden;
}

@mixin list-item-styles {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

@mixin sq-btn {
  border-radius: 0.5rem;
  padding: 0.3rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;
}
