.classic-input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #555;
  color: #fff;
  font-size: 14px;
}

.short-input {
  border-radius: 0.5rem;
  border: 2px solid #444;
  padding: 0.5rem;
  background-color: rgb(30, 30, 30, 0.5);
  color: #fff;
  font-weight: 500;
  width: 100%;
}

.modern-input {
  border: 1px solid #282828;
  background-color: transparent;
  color: #ddd;
  font-weight: 600;
  border-radius: 2rem;
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 3.25rem;
  transition: 0.3s ease;
}
