.classic-input {
  width: 100%;
  padding: $big-rem;
  border-radius: $big-rem;
  background-color: transparent;
  border: 2px solid #555;
  color: #fff;
  font-size: 14px;
}

.short-input {
  border-radius: $avg-rem;
  border: 2px solid #444;
  padding: $avg-rem;
  background-color: rgb(30, 30, 30, 0.5);
  color: #fff;
  font-weight: 500;
  width: 100%;
}

.modern-input {
  border: 1px solid $ultra-light-black;
  background-color: transparent;
  color: $light-gray;
  font-weight: 600;
  border-radius: 2rem;
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 3.25rem;
  transition: 0.3s ease;
}
